.Projects {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 228px);
}

.Projects-container {
    background-color: var(--text-primary);
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
    color: var(--primary);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: outset 2px var(--primary);
    border-radius: 5px;
}

@media (min-width: 768px) {
    .Projects-container {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .Projects-container {
        width: 90%;
    }
}
