.Banner {
    display: grid;
    padding: 25px;
    background-color: var(--primary);
    color: var(--text-accent);
}

.Banner-photo-container {
    position: relative;
}

.Banner-text {
    padding: 10px;
    text-align: left;
}

.Banner-button {
    margin: 10px 20px 10px 20px;
    color: var(--text-accent) !important;
    border-color: var(--text-accent) !important;
}

.Banner-button:hover {
    background-color: var(--text-accent) !important;
    border-color: var(--text-accent) !important;
    color: var(--primary) !important;
}

@media (min-width: 768px) {
    .Banner {
        grid-template-columns: 40% 60%;
    }

    .Banner-info {
        margin-left: 40px;
    }

    .Banner-photo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .Banner {
        grid-template-columns: 100%;
        row-gap: 40px;
    }
}

.Banner-photo {
    border: outset 2px var(--primary);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}
